.marquee {
    background: linear-gradient(180deg, rgba(214,214,214,1) 0%, rgba(233,233,233,1) 25%, rgba(240,239,239,1) 50%, rgba(233,233,233,1) 75%, rgba(214,214,214,1) 100%);
    border-radius: 0 0 5px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 26px;
    margin: 0 auto;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.marquee__container {
    overflow-x: hidden ;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.marquee__container:hover div {
    animation-play-state: paused;
}

.marquee__content {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: scroll 25s infinite linear;
    text-size-adjust: 100%;
}

.marquee__list {
    -ms-flex-pack: distribute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.marquee__link {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    font-family: 'Montserrat',Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.marquee__market,
.marquee__value {
    margin: 0 auto;
}

.marquee__market {
    margin-right: 5px;
    color: #F0C13E;
}

.marquee__value {
    color: #615D5D;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%)
    }
}